In [2]:
import numpy as np

In [3]:
import pandas as pd

create synthetic data

In [13]:
id = np.arange(0,10).tolist()

In [5]:
distance = np.round(np.random.normal(loc=100,scale=5,size=len(id)),2)

In [6]:
data = {"id":id, "distance":distance}

In [7]:
df = pd.DataFrame(data=data)
df

   id  distance
0   0     95.20
1   1     92.01
2   2     97.94
3   3     95.05
4   4    101.99
5   5     99.82
6   6     93.84
7   7     94.78
8   8     90.80
9   9    105.56

simple Random Sampling-the subset is built on observations that were choosen from a larger set purely by chance

In [8]:
simple_random_sample = df.sample(n=5, random_state=24)
simple_random_sample

   id  distance
9   9    105.56
4   4    101.99
8   8     90.80
7   7     94.78
5   5     99.82

INTERVAL SAMPLING-creates subset by selecting observation from a larger dataset at a regular interval

In [9]:
idx = np.arange(0,len(df),step=2)
interval_sample = df.iloc[idx]
interval_sample

   id  distance
0   0     95.20
2   2     97.94
4   4    101.99
6   6     93.84
8   8     90.80

Stratified Sampling-divide larger dataset into groups called strata.from the groups we randomy select observations that we want to create the new subset.

In [10]:
from sklearn.model_selection import StratifiedKFold

In [11]:
df["strata"] = np.repeat([1,2],len(df)/2).tolist()# instantiating stratified sampling
stratified = StratifiedKFold(n_splits=2)
for x,y in stratified.split(df,df["strata"]):
    stratified_random_sample = df.iloc[x]
stratified_random_sample

   id  distance  strata
0   0     95.20       1
1   1     92.01       1
2   2     97.94       1
5   5     99.82       2
6   6     93.84       2